<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="dicoding:email" content="gracian408@gmail.com">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>LoneWolf Academy</title>
        <meta name="description" content="Belajar Dengan Giat">
        <link rel="icon" href="../public/img/wolf.png">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined&display=swap" rel="stylesheet" media="print" onload="this.onload=null;this.media='all'">
        <noscript>
          <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined&display=swap" rel="stylesheet">
        </noscript>
        <!-- Tambahkan CSS lainnya di sini -->
      </head>
      
<body>
    <app-bar></app-bar>
    <main id="mainContent">
        <hero-element></hero-element>
        <logo-partner></logo-partner>
        <pilihan-pembelajaran></pilihan-pembelajaran>
        <pengalaman-pengguna></pengalaman-pengguna>
    </main>
    <footer-bar></footer-bar>
</body>
</html>